html{
    background-image: url(../img/cat.jpeg);
    background-attachment: fixed;
    background-size: 100%;
}


#time {
    height: 100px;
    width: 650px;
    padding-bottom: 13px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    font-size: 100px;
    color: white;
 /*   border-top: 10px solid #4080bf;*/
    border-left: 3px solid  #ccf5ff; 
  /*  border-bottom: 2px solid #4080bf;*/
    border-right: 3px solid #ccf5ff ; 
    border-radius: 15px;
    
}

#welcomeMessage{
    font-size: 20px; /*font size of text*/
    color:  #007a99;
    letter-spacing: 4px;
    font-weight: 800;
    padding-top: 30px;
}


