body {
    background-color: #66b3ff;
    font-family: impact, sans-serif;
    text-align: center;
    color: black;
}
#message{
font-family: verdana, sans-serif;
}

#time {
    height: 100px;
    width: 650px;
    padding-bottom: 13px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    font-size: 100px;
    color: white;
    border-top: 3px double #009999;
    border-left: 5px double #4080bf;
    border-bottom: 9px double #4080bf;
    border-right: 1px solid #009999;
    border-radius: 15px;
    
}

#welcomeMessage{
    /*text-shadow: 1px 1px #B4EAF3, 2px 2px #B4EAF3, 2px 2px #B4EAF3, 2px 2px #B4EAF3, 3px 3px #B4EAF3 */
    font-size: 20px; /*font size of text*/
    color: #207688;
    letter-spacing: 4px;
    font-weight: 800;
    position:relative;
    padding-top: 30px;
}


