body {
    background-color: #80d4ea;
    font-family: impact, sans-serif;
    text-align: center;
    color: black;
}
#message{
font-family: verdana, sans-serif;
}

#time {
    height: 100px;
    width: 500px;
    padding-bottom: 13px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    font-size: 100px;
    color: white;
    border-top: 3px double black;
    border-bottom: 5px double black;
    
}